<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list of employees</title>
</head>
<body>
    <h1>Employee List</h1>
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="employee:${ListEmployees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.emailId}"></td>
                <td><a th:href="@{/api/v1/showDetails/{id}(id=${employee.id})}">Details</a></td>
                <td><a th:href="@{/api/v1/update/{id}(id=${employee.id})}">Update</a></td>
                <td><a th:href="@{/api/v1/delete/{id}(id=${employee.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/api/v1/addNewEmployee}">Add new Employee</a>
</body>
</html>